<div id="bienvenida" class="text-center">
  <div *ngIf="IsSubmitted">
    <h1 class="mat-card-title main-title">Tus datos han sido guardados</h1>
    <p>Por favor cierra esta ventana</p>
  </div>

  <div *ngIf="!IsSubmitted">
    <h1 class="mat-card-title main-title">Actualización de datos</h1>
    <p>Ingresa tu información</p>
    <span>Un (*) significa que la informacion es requerida</span>
    <div class="card-container">

      <app-miembros-form
        (formFinishedEvent)="confirmModal.fire()"
        [(miembroCommand)]="Model">

      </app-miembros-form>
<!--      <div fxLayout="row" class="button-form-row" fxLayoutAlign="end end">-->
<!--        <button-->
<!--          (click)="resetMiembro()"-->
<!--          class="button-form"-->
<!--          mat-raised-button>-->
<!--          <mat-icon>delete</mat-icon> &nbsp; Limpiar-->
<!--        </button>-->
<!--        <button-->
<!--          (click)="checkMissingInfo()"-->
<!--          class="button-form"-->
<!--          mat-raised-button color="primary">-->
<!--          <mat-icon>save</mat-icon> &nbsp; Guardar datos-->
<!--        </button>-->
<!--      </div>-->
    </div>
  </div>


</div>

<swal
  #confirmModal
  text="Verifica que tus datos sean correctos"
  icon="question"
  confirmButtonText='Mis datos son correctos'
  cancelButtonText='Cancelar'
  cancelButtonColor='red'
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="addMiembroConfirmed()"
>
</swal>

<!--With [swal]:-->
<!--<button [swal]="deleteSwal">Delete {{ file.name }}</button>-->

<!--Or DIY:-->
<!--<button (click)="deleteSwal.fire()">Delete {{ file.name }}</button>-->
