<!--<mat-card>-->
<!--  <mat-list>-->
<!--    <mat-list-item><span>Informacion general</span></mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-form-field class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Nombre</mat-label>-->
<!--      <input-->
<!--        [(ngModel)]="Miembro.Nombre"-->
<!--        [readonly]="isReadOnly"-->
<!--        matInput placeholder="Nombres">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Apellidos</mat-label>-->
<!--      <input [(ngModel)]="Miembro.Apellido"-->
<!--             [readonly]="isReadOnly"-->
<!--             matInput placeholder="Apellidos">-->
<!--    </mat-form-field>-->
<!--    <br>-->
<!--    <mat-form-field class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Correo</mat-label>-->
<!--      <input [(ngModel)]="Miembro.Email"-->
<!--             [readonly]="isReadOnly"-->
<!--             matInput value="miembro@gmail.com">-->
<!--    </mat-form-field>-->
<!--    <br>-->
<!--    <mat-form-field class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Genero</mat-label>-->
<!--      <mat-select [(value)]="Miembro.Genero">-->
<!--        <mat-option value="M">M</mat-option>-->
<!--        <mat-option value="F">F</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Estado civil</mat-label>-->
<!--      <mat-select [(value)]="Miembro.EstadoCivil">-->
<!--        <mat-option value="Casado">Casado</mat-option>-->
<!--        <mat-option value="Soltero">Soltero</mat-option>-->
<!--        <mat-option value="Viudo">Viudo</mat-option>-->
<!--        <mat-option value="Divorciado">Divorciado</mat-option>-->
<!--      </mat-select>-->

<!--    </mat-form-field>-->
<!--    <br>-->
<!--    <mat-form-field class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Fecha nacimiento</mat-label>-->
<!--      <input [readonly]="isReadOnly" [(ngModel)]="Miembro.FechaNacimiento" matInput [matDatepicker]="picker">-->
<!--      <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--    </mat-form-field>-->

<!--    <br>-->
<!--    <mat-form-field class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Direccion</mat-label>-->
<!--      <input [readonly]="isReadOnly" matInput [(ngModel)]="Miembro.Direccion">-->
<!--    </mat-form-field>-->

<!--    <br>-->
<!--    <mat-form-field  class="form-custom-field" appearance="standard">-->
<!--      <mat-label>Telefono 1</mat-label>-->
<!--      <input [readonly]="isReadOnly" matInput [(ngModel)]="Miembro.Telefono1">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field  class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Telefono 2</mat-label>-->
<!--      <input [readonly]="isReadOnly" matInput [(ngModel)]="Miembro.Telefono2">-->
<!--    </mat-form-field>-->

<!--    <br>-->
<!--    <br>-->
<!--    <mat-list-item>-->
<!--          <span>-->
<!--            Informacion miembro-->
<!--          </span>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-form-field class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Fecha bautismo</mat-label>-->
<!--      <input [readonly]="isReadOnly" [(ngModel)]="Miembro.FechaBautismo" matInput [matDatepicker]="picker2">-->
<!--      <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker2></mat-datepicker>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Fecha de conversion</mat-label>-->
<!--      <input [readonly]="isReadOnly" [(ngModel)]="Miembro.FechaNacimiento" matInput [matDatepicker]="picker">-->
<!--      <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field class="form-custom-field" appearance="standard" >-->
<!--      <mat-label>Fecha de primera visita</mat-label>-->
<!--      <input [readonly]="isReadOnly" [(ngModel)]="Miembro.FechaNacimiento" matInput [matDatepicker]="picker">-->
<!--      <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--    </mat-form-field>-->

<!--    <br>-->
<!--    <br>-->
<!--    <mat-list-item>-->
<!--          <span>-->
<!--            Contacto-->
<!--          </span>-->
<!--    </mat-list-item>-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-form-field class="form-custom-field-outlined" appearance="outline" >-->
<!--      <mat-label>Direccion</mat-label>-->
<!--      <input [readonly]="isReadOnly" matInput [(ngModel)]="Miembro.Direccion">-->
<!--    </mat-form-field>-->
<!--    <br>-->
<!--    <mat-form-field  class="form-custom-field-outlined" appearance="outline">-->
<!--      <mat-label>Telefono 1</mat-label>-->
<!--      <input [readonly]="isReadOnly" matInput [(ngModel)]="Miembro.Telefono1">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field  class="form-custom-field-outlined" appearance="outline" >-->
<!--      <mat-label>Telefono 2</mat-label>-->
<!--      <input [readonly]="isReadOnly" matInput [(ngModel)]="Miembro.Telefono2">-->
<!--    </mat-form-field>-->
<!--    <br>-->
<!--    &lt;!&ndash;      <button mat-raised-button color="warn">Limpiar datos</button>&ndash;&gt;-->
<!--    &lt;!&ndash;      <button mat-raised-button color="primary">Guardar datos</button>&ndash;&gt;-->

<!--  </mat-list>-->
<!--</mat-card>-->

<mat-tab-group>
  <mat-tab label="Personal">
    <!--    <mat-card>-->
    <div class="div-tab">
      <div class="div-card">
        <mat-form-field
          [floatLabel]="'always'"
          class="form-custom-field" appearance="standard">
          <mat-label>Nombre *</mat-label>
          <input
            [(ngModel)]="Miembro.Nombre"
            [readonly]="isReadOnly"
            matInput>
        </mat-form-field>

        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Apellidos *</mat-label>
          <input
            [(ngModel)]="Miembro.Apellido"
            [readonly]="isReadOnly"
            matInput>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Genero *</mat-label>
          <mat-select [(value)]="Miembro.Genero">
            <mat-option value="M">M</mat-option>
            <mat-option value="F">F</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Estado civil</mat-label>
          <mat-select [(value)]="Miembro.EstadoCivil">
            <mat-option value="Casado">Casado</mat-option>
            <mat-option value="Soltero">Soltero</mat-option>
            <mat-option value="Viudo">Viudo</mat-option>
            <mat-option value="Divorciado">Divorciado</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Fecha nacimiento *</mat-label>
          <input [readonly]="isReadOnly" [(ngModel)]="Miembro.FechaNacimiento" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="end end">
        <button mat-raised-button color="primary" class="button-stepper">
          Siguiente
        </button>
      </div>
    </div>
    <!--    </mat-card>-->

  </mat-tab>
  <mat-tab label="Miembro">
    <div class="div-tab">
      <div class="div-card">
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Ministerio al que asiste</mat-label>
          <mat-select [(value)]="Miembro.Genero">
            <mat-option value="M">La Red</mat-option>
            <mat-option value="F">Preju</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Ministerio en el que sirve</mat-label>
          <mat-select [(value)]="Miembro.Genero">
            <mat-option value="M">Audiovisual</mat-option>
            <mat-option value="F">Estrategia</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Fecha bautismo</mat-label>
          <input [readonly]="isReadOnly" [(ngModel)]="Miembro.FechaBautismo" matInput [matDatepicker]="picker2">
          <!--          <mat-hint>MM/DD/YYYY</mat-hint>-->
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Fecha conversion</mat-label>
          <input [readonly]="isReadOnly" [(ngModel)]="Miembro.FechaBautismo" matInput [matDatepicker]="picker2">
          <!--          <mat-hint>MM/DD/YYYY</mat-hint>-->
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Fecha de primera visita</mat-label>
          <input [readonly]="isReadOnly" [(ngModel)]="Miembro.FechaBautismo" matInput [matDatepicker]="picker2">
          <!--          <mat-hint>MM/DD/YYYY</mat-hint>-->
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between end">
        <button mat-raised-button class="button-stepper">
          Anterior
        </button>
        <button mat-raised-button color="primary" class="button-stepper">
          Siguiente
        </button>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Contacto">
    <div class="div-tab">
      <div class="div-card">
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Correo *</mat-label>
          <input [readonly]="isReadOnly" matInput [(ngModel)]="Miembro.Direccion">
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Direccion</mat-label>
          <input [readonly]="isReadOnly" matInput [(ngModel)]="Miembro.Direccion">
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Departamento *</mat-label>
          <mat-select [(value)]="Miembro.Genero">
            <mat-option value="M">San Salvador</mat-option>
            <mat-option value="F">Zacatecoluca</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Telefono 1 *</mat-label>
          <input [readonly]="isReadOnly" matInput [(ngModel)]="Miembro.Telefono1">
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'" class="form-custom-field" appearance="standard">
          <mat-label>Telefono 2</mat-label>
          <input [readonly]="isReadOnly" matInput [(ngModel)]="Miembro.Telefono2">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" class="button-stepper">
          Finalizar
        </button>
      </div>
    </div>

  </mat-tab>
</mat-tab-group>
